@using BlogSite.Common.DTOs.Transaction;
@using System.Security.Claims;
@model TBlogDto

@{
    var flagShow = false;
    var nameIdentifierClaim = User.Claims?.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);
    if (nameIdentifierClaim != null)
    {
        flagShow = true;
    }

}


@section Styles{
    <style>
        /*      .img-content {
                                                                                                                    width: 1000px;
                                                                                                                    height: 500px;
                                                                                                                }*/

        .sub-img {
            width: 350px;
            height: 190px;
        }



        .movement-ico {
            font-size: 11pt;
        }

        .smoothScroll {
            padding: 10px;
            margin: 12px;
        }
    </style>

    @if (!flagShow)
    {
        <style>
            .disUser {
                cursor: no-drop;
                pointer-events: none;
                color: inherit;
                text-decoration: none;
            }
        </style>
    }
}

<!-- Home Section -->

<section id="home" class="main-single-post parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>BLOG SITE </h1>
                <a href="/Home/MovementAdd?blogId=@(Model.Id)&type=1" class="smoothScroll btn btn-default disUser" style="background-color:@((int)ViewBag.Like  == 1 ? "yellowgreen":"white")">
                    <i class="fa fa-thumbs-up movement-ico" aria-hidden="true" style="color: green;"></i>
                </a>
                <a href="/Home/MovementAdd?blogId=@(Model.Id)&type=3" class="smoothScroll btn btn-default disUser" style="background-color:@((int)ViewBag.Favorite == 1 ? "#60bcd3":"white")">
                    <i class="fa fa-bookmark-o movement-ico" style="color:dodgerblue"></i>
                </a>
                <a href="/Home/MovementAdd?blogId=@(Model.Id)&type=2" class="smoothScroll btn btn-default disUser" style="background-color:@((int)ViewBag.DisLike == 1 ? "orangered":"white")">
                    <i class="fa fa-thumbs-down movement-ico" aria-hidden="true" style="color:red;"></i>
                </a>
            </div>

        </div>
    </div>
</section>

<section id="blog-single-post">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-single-post-thumb">


                    <div class="blog-post-title">
                        <h2>@Model.Name</h2>
                    </div>

                    <div class="blog-post-format">
                        <span><a href="#"><img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.UserImg)}")" class="img-responsive img-circle">@Model.UserName</a></span>
                        <span><i class="fa fa-date"></i> @Model.CreatedDate</span>
                    </div>

                    <div class="blog-post-des">
                        <blockquote>@Model.Content</blockquote>
                        <div class="blog-post-image">
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.ContentImg)}")" class="img-responsive img-content" alt="Blog Image 3">
                        </div>

                        <h3>@Model.Name</h3>
                        <p>@Model.Description</p>
                    </div>

                    <div class="row" style="margin-top:3%;">
                        <div class="col-md-4 col-sm-4">
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.CoverImg)}")" class="img-responsive sub-img" alt="Blog Image 1">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.ContentImg)}")" class="img-responsive sub-img" alt="Blog Image 2">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.HeaderImg)}")" class="img-responsive sub-img" alt="Blog Image 3">
                        </div>
                    </div>

                    <div class="blog-author">
                        <div class="media">
                            <div class="media-object pull-left">
                                <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.UserImg)}")" class="img-circle img-responsive" alt="blog">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#">@Model.UserName ( @Model.UserTitle )</a></h3>
                                <p>@Model.UserAbout</p>
                            </div>
                        </div>
                    </div>

                    <div class="blog-comment">
                        <h3>Yorumlar</h3>
                        @foreach (var comment in Model.CommentModels)
                        {
                            <div class="media">
                                <div class="media-object pull-left">
                                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(comment.UserImg)}")" class="img-responsive img-circle" alt="Blog Image 11">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">@comment.UserFullName</h3>
                                    <span>@comment.Date.ToShortDateString()</span>
                                    <p>@comment.Comment</p>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="blog-comment-form">
                        <h3>Yorum Yap</h3>
                        <form asp-action="CreateComment" asp-controller="Home" method="post">
                            @Html.HiddenFor(x=>x.Id)
                            <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message" message="message" required="required"></textarea>
                            <div class="col-md-3 col-sm-4 disUser">
                                <input name="submit" type="submit" class="form-control " id="submit" value="Yorumunuzu Gönderin">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>