@using System.Security.Claims;
@using BlogSite.Common.DTOs.Transaction;
@model List<TBlogDto>

@{
    var userRole = User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).ToList();
}

@section Styles{
    <style>

    </style>
}

<!-- Home Section -->
<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Selam! Burası Blog Site.</h1>
                <h4>Yazılarını paylaşabilir veya diğer yazarları takip edebilirsin</h4>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    @if (userRole.Contains("Admin"))
                    {
                        <a href="/AdminDashboard/Index" class="smoothScroll btn btn-default">@Context.User.Identity.Name</a>
                    }
                    else
                    {
                        <a href="/UserDashboard/Index" class="smoothScroll btn btn-default">@Context.User.Identity.Name</a>
                    }
                }
                else
                {
                    <a href="/Login/Index" class="smoothScroll btn btn-default">Giriş/Kayıt</a>
                }
            </div>

        </div>
    </div>
</section>

<!-- Blog Section -->
<section id="blog">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="blog-post-image">
                            <img class="img-responsive blog-img" src="@($"data:image/png;base64,{Convert.ToBase64String(item.CoverImg)}")" alt="blog resmi">
                        </div>
                        <div class="blog-post-title">
                            <h3><a href="single-post.html">@item.Name</a></h3>
                        </div>
                        <div class="blog-post-format">
                            <span><a href="#"><img src="@($"data:image/png;base64,{Convert.ToBase64String(item.UserImg)}")" class="img-responsive img-circle">@item.UserName</a></span>
                            <span><i class="fa fa-date"></i> @item.CreatedDate.ToShortDateString()</span>
                        </div>
                        <div class="blog-post-des">
                            <p>@item.Content</p>
                            <a href="/Home/BlogReading?id=@item.Id" class="btn btn-default">Okumaya Devam Et</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Pagination -->
        <div style="float:right;">
            <nav aria-label="...">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item"><a class="page-link" href="/Home/Index?page=@ViewBag.PagePrevNum">@ViewBag.PagePrevNum</a></li>
                    <li class="page-item"><a class="page-link" href="/Home/Index?page=@ViewBag.PageNum">@ViewBag.PageNum</a></li>
                    <li class="page-item"><a class="page-link" href="/Home/Index?page=@ViewBag.PageNextNum">@ViewBag.PageNextNum</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
