@using BlogSite.Web.Models.UserDashboard;
@model UserTrackingViewModel

@{
    Layout = "_UserDashboardLayout";
}

@section Styles{
    <style>
        .monitoring{
            text-align: center;
            justify-content: center;
            margin:1.5%;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-orange card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                @if (Model.Image != null && Model.Image.Length > 0)
                                {
                                    <img class="profile-user-img img-fluid img-circle" src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Image)}")" alt="User profile picture">
                                }
                                else
                                {
                                    <img class="profile-user-img img-fluid img-circle" src="~/adminLTE/dist/img/user4-128x128.jpg" alt="User profile picture">
                                }
                            </div>

                            <h3 class="profile-username text-center">@Model.FullName</h3>
                            <p class="text-muted text-center">@Model.Title</p>
                            <hr>
                            <strong>Hakkımda</strong>
                            <p class="text-muted">@Model.About</p>
                            <hr>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-9">
                    <!-- About Me Box -->
                    <div class="card card-gray card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Bloger izlence</h3>
                        </div>
                        <div class="small-box bg-info monitoring">
                            <div class="inner">
                                <h3>@Model.BlogCount</h3>

                                <p>Blog sayın</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                        <div class="small-box bg-purple monitoring">
                            <div class="inner">
                                <h3>@Model.ViewCount</h3>

                                <p>Bloglarının görüntülenme sayısı</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                        <div class="small-box bg-success monitoring">
                            <div class="inner">
                                <h3>@Model.TotalLikeCount</h3>

                                <p><a href="/UserDashboard/SeeBlogsLike" style="color:white;">Beğendiğin blog sayısı</a></p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                        </div>
                        <div class="small-box bg-danger monitoring">
                            <div class="inner">
                                <h3>@Model.TotalDislikeCount</h3>

                                <p><a href="/UserDashboard/SeeBlogsDislike" style="color:white;">Beğenmediğin blog sayısı</a></p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-thumbs-down"></i>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
}